.btn-pwd{
    height: 27px !important;
    min-width: 27px !important;
    width: 27px !important;
    font-size: 15px !important;
}

.fa{
	font-size: 16px !important;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: rgba(0, 0, 0, 0.26) !important; 
}

.titulo{
	margin-bottom: 50px !important;
	font-size: 1.4em !important;
}

.nostyle{
	text-align: left !important;
	padding-top: 2% !important;
}
.marginrow{
	margin-bottom: 25px !important;
}
.imgresponsive{
	max-width: 80% !important;
}
.doubt{
	text-align: center !important;
}
